[project]
name = "process-bigraph"
version = "1.0.2"
description = "protocol and execution for compositional systems biology"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "bigraph-schema",
    "ipdb>=0.13.13",
    "matplotlib",
    "pint>=0.24.4",
]

[tool.setuptools]
packages = [
    "process_bigraph",
    "process_bigraph.processes",
    "process_bigraph.protocols",
    "process_bigraph.experiments",
    "process_bigraph.types",
]

# [tool.uv.sources]
# bigraph-schema = { path = "../bigraph-schema", editable = true }
